<!DOCTYPE html>
<html>

<head>

</head>

<body style="margin: 0; padding: 0;">
    <h1 style="text-align: center; color: #fff; background-color: #00aaff; padding: 3px 3px; margin-top: 0">{{title}}</h1>
    <p style="width: 300px; display: block; margin: auto; margin-top: 30px; font-weight: bold">
        Hello {{username}},
        <br>
        {{content}}
        <br>
        If this wasn't you, <a href={{clickHere}}>click here</a>.
    </p>
    <a href={{url}} style="color: #fff; text-decoration: none; background-color: #00aaff; text-align: center; border: none; display: block; margin: auto; margin-top: 250px; font-size: 18px; border-radius: 8px; padding: 8px; font-weight: bold; width: 200px">
        {{buttonTitle}}
    </a>
</body>

</html>