<!DOCTYPE html>
<html>

<head>

</head>

<body style="margin: 0; padding: 0;">
    <h1 style="text-align: center; color: #fff; background-color: #00aaff; padding: 3px 3px; margin-top: 0">{{subject}}</h1>
    <p style="width: 300px; display: block; margin: auto; margin-top: 30px; font-weight: bold">
        Hello{{greeting}},
        <br>
        {{message}}
        <br>
        <br>
        {{details}}
        <br>
        <br>
        For more details, <a href={{extra}}>click here</a>.
    </p>
</body>

</html>